/* General */
* {
    box-sizing: border-box;    
}

html,
body {
    background-color: #000;
    color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Content */
.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

fieldset {
    width: 100%;
    max-width: 85ch;
    margin: auto;
}

#score {
    display: flex;
    justify-content: space-between;
}

header {
    height: max-content;
}

svg {
    min-width: 460px;
    min-height: 440px;
    white-space: nowrap;
}

#results {
    display: flex;
    justify-content: space-between;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.center-vertically {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: rgb(221, 221, 221);
}
