/* General */
* {
    box-sizing: border-box;    
}

html,
body {
    background-color: #000;
    color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Content */
.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

fieldset {
    width: 100%;
    max-width: 85ch;
}

#score {
    display: flex;
    justify-content: space-between;
}

#player-score, #computer-score {
    font-family: monospace;
    font-size: 1rem;
}

header {
    height: max-content;
}

svg {
    white-space: nowrap;
}

#results {
    display: flex;
    justify-content: space-between;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
}

main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: space-around;
    align-items: stretch;
    justify-items: stretch;
}

.center-vertically {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: rgb(221, 221, 221);
}
